.dashboard, .dashboardDate {
	margin: 5px auto;
	text-align: center;
}

.CategoryListMain_List {
	list-style: none;
}

.listTitleNameDash {
	font-size: 30px;
	text-align: center;
	width: 50%;
	margin: 50px auto 0px;
}

.CategorySection {
	display: inline;
}

.subText {
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 50px;
}

.dashTask {
	list-style: none;
	display: block;
	margin: auto;
	text-align: center;
}

.task {
	text-decoration: none;
	color: rgb(20, 20, 20);
	display: inline-block;
	width: 150px;
}

.task:hover {
	cursor: pointer;
	transition: ease-in, 0.3s;
	color: rgb(88, 88, 88);
}

.dashSubtext {
	text-align: center;
}

@media only screen and (min-width: 1100px) {
	.dashTask {
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: baseline;
		margin: auto;
		justify-content: center;
	}
	.task {
		width: 15vw;
	}
	.taskItemForm {
		width: 15vw;
	}
}