.dashboard, .dashboardDate {
	margin: 5px auto;
	text-align: center;
}

.CategoryPageHeader {
	margin: 5px auto;
	text-align: center;
}

.CategoryPage ul {
	list-style-type: none;
	margin: 0px;
}

.CategoryPageDateTypes {
	list-style-type: none;
	margin: 0px;
	width: 100%;
}

.CategorySection {
	display: inline;
}

.subText {
	font-size: 13px;
	font-weight: normal;
}

.cat_page_date {
	text-align: center;
}

.eventPageListItem {
	list-style: none;
	display: block;
	margin: auto;
	text-align: center;
}

.event {
	text-decoration: none;
	color: rgb(20, 20, 20);
	/* display: inline-block; */
	width: 20%;
}

.event:hover {
	cursor: pointer;
	color: rgb(105, 105, 105);
}

.listMainSubtext {
	text-align: center;
}

.listMainSubDate {
	text-align: center;
}

.listTitleName {
	border-bottom: 5px solid grey;
}

.CategoryPageEventUl {
	min-height: 200px;
}

@media only screen and (min-width: 1100px) {
	.cat_page_date {
		text-align: right;
		margin-right: 10px;
	}
	.CategoryPageHeader {
		margin: 5px auto;
		text-align: center;
	}
}