.NavCircleButton {
	background-color: grey;
	border-radius: 50%;
	border: 0;
	color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	font-weight: bold;
	height: 60px;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	width: 60px;
	margin: 10px;
}
/* 
a.NavCircleButton {
	padding: 8px;
} */

.NavCircleButton:hover {
	cursor: pointer;
	transition: ease-in, 0.5s;
	background-color: rgb(53, 53, 53);
}
