h1, h2 {
	margin: 5px auto;
	text-align: center;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

.listTitleName {
	font-size: 30px;
	text-align: center;
	/* width: 50%; */
	margin: 50px auto;
}

.title {
	margin: 50px auto 5px;
	text-decoration: none;
	color: darkgrey;
	font-size: 50px;
}

.subTitle {
	margin: 5px auto 35px;
	text-align: center;
	font-size: 15px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.addTaskForm {
	margin: 5px auto;
	text-align: left;
	width: 280px;
	font-size: 18px;
}

#taskName, #addTaskNotes, #categorySelect {
	width: 280px;
}

.addTaskForm label {
	display: block;
	width: 280px;
	margin: 5px auto;
}

.add_task_cat_section {
	display: flex;
	justify-content: center;
}

.addTaskForm select {
	padding: 3px 0px;
}

.catDescription {
	/* font-size: 13px; */
	font-weight: normal;
	text-align: center;
}

.add_task_cat_list1, .add_task_cat_list2, .add_task_cat_list3 {
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: center;
	text-align: center;
}

.addTask button {
	color: whitesmoke;
	background-color: rgb(47, 184, 20);
	padding: 4px 15px;
	border-style: none;
	border-radius: 5px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
	width: 280px;
}

.addTask button:hover {
	cursor: pointer;
	background-color: rgb(41, 158, 18);
}

.addTask input, select, textarea {
	border-radius: 5px;
	border: 1px solid rgb(173, 173, 173);
	line-height: 22px;
}

.addTask #datePicker {
	cursor: pointer;
	width: 92px;
	text-align: center;
}