h1,
h2 {
	margin: 5px auto;
	text-align: center;
}

.title {
	margin: 50px auto 5px;
	text-decoration: none;
	color: darkgrey;
	font-size: 50px;
}

.subTitle {
	margin: 5px auto 35px;
	text-align: center;
	font-size: 15px;
}

.CategoryPageHeader {
	margin: 5px auto;
	text-align: center;
}

.CategoryPageDateTypes {
	list-style: none;
}

.addTaskForm {
	margin: 5px auto;
	text-align: left;
	width: 280px;
}

#taskName,
#addTaskNotes,
#categorySelect {
	width: 280px;
}

.addTaskForm label {
	display: block;
	width: 280px;
	margin: 5px auto;
}

.add_task_cat_section {
	display: flex;
	justify-content: center;
}

.add_task_cat_list1,
.add_task_cat_list2,
.add_task_cat_list3 {
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: center;
	text-align: center;
}
