.EventPageEdit label {
	display: block;
	width: 280px;
	margin: 5px auto;
	font-weight: bold;
}

.eventSection {
	margin: 5px auto;
	text-align: left;
	width: 280px;
	font-size: 18px
}

.eventSection h3 {
	text-align: center;
}

.eventSection textarea {
	border-radius: 5px;
	border-width: 2px;
	border-color: grey;
}

.eventSection span {
	font-weight: bold;
}

.eventsection .buttons {
	display: flex;
	margin: 0px auto;
	align-items: center;
}

.buttons button {
	margin: 0px auto;
	color: whitesmoke;
	background-color: rgb(184, 20, 20);
	padding: 3px 15px;
	border-style: none;
	border-radius: 5px;
	font-weight: 500;
	text-align: center;
	width: 100%;
	font-size: 18px;
}

.buttons button:hover {
	cursor: pointer;
	background-color: rgb(163, 23, 23);
}