.CategoryListNav_List {
	list-style: none;
	padding: 0;
	background-color: grey;
	display: flex;
	flex-direction: column;
}

.CategoryListNav_List li {
	text-decoration: none;
}

.CategoryListNav_List li h3 {
	padding: 10px;
	margin: 0;
}

.catNav {
	text-decoration: none;
	color: whitesmoke;
	cursor: pointer;
}

.catIcon {
	color: whitesmoke;
}

.always-show {
	display: inline-block;
}

.mainList {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.CategoryListNav_List li:hover {
	cursor: pointer;
	transition: ease-in, 0.5s;
	background-color: rgb(53, 53, 53);
}

.CategoryListNav_List .logout {
	background-color: rgb(24, 24, 24);
}

.CategoryListNav_List .logout:hover {
	transition: ease-in, 0.5s;
	background-color: rgb(53, 53, 53);
}

@media only screen and (min-width: 1100px) {
	.CategoryListNav_List {
		flex-direction: row;
	}

	.dropList {
		display: flex;
		flex-direction: row;
	}

	.catNav {
		display: inline-block;
	}

	.toggleBar {
		display: none;
	}
}
